
img {
    max-width: 100%;
    height: auto;
}
* {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
.white {
    color: #fcfcfc !important;
}
.white-b {
    background-color: #fcfcfc;
}
.mc-1 {
    color: #00ade0;
}
.mc-2 {
    color: #bc1749;
}
.mc-3 {
    color: #00177b;
}
.mcm {
    color: #1f0308;
}
.mbgb {
    background-color: #00177b;
}
a {
    color: #bc1749 !important;
}
a:hover {
    color: #bc1749 !important;
}
.mbgc-1 {
    background-color: #00ade0 !important;
}
.mbgc-2 {
    background-color: #bc1749;
}
.mbgc-3 {
    background-color: #00177b;
}
*:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
input:focus, textarea:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
.btn.enable {
    background: #c70d97;
    color: #fff !important;
    border-color: #c70d97;
}
.image-container {
    margin-bottom: 30px;
}
.section .inner-section {
    height: 100%;
    width: 100%;
    padding: 37px 0px;
}
@media screen and (max-width: 767px) {
    ul {
        padding-left: 0 !important;
    }
}
.btn.default-1:hover {
    background: #fff;
    color: #bc1749 !important;
}
.signup-container .btn.submit {
    width: 100%;
}
.btn.default-1 {
    background: #bc1749;
    color: #fff;
    border-radius: 0;
    border: 1px solid #bc1749;
}
.btn.default-2:hover {
    border-color: #bc1749;
}
.btn.default-2 {
    border: 1px solid #350207;
    color: #350207;
    letter-spacing: 5px;
}
.divider {
    margin: 27px auto;
    height: 2px;
}

.dotted-sm {
    border-bottom: 2px dotted;
    width: 100px;
}
/*
*
*  Headers
*
*/
.main-header .nav-item a:hover {
    color: #fff !important;
}
.top-header {
    padding: 0px;
}

.call-to-action-top .join_us:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #bc1749;
    bottom: -17px;
    border: 4px double #fff;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(
45deg
);
        -ms-transform: translateX(-50%) rotate(
45deg
);
            transform: translateX(-50%) rotate(
45deg
);
}

.call-to-action-top .join_us:before {
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    background: #bc1749;
    bottom: -11px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.call-to-action-top .join_us {
    font-size: 18px;
    margin-bottom: 27px;
    color: #bc1749;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
}
.homepage .top-section .inner-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media screen and (min-width : 768px) {
    .homepage .top-section h1 {
        font-size: 65px;
    }
}
.grid-home-1 .item .inner-col {
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 18px -5px #a9a9a9;
            box-shadow: 4px 4px 18px -5px #a9a9a9;
    height: 100%;
}
/*
*
*  Rond image
*
*/
@media screen and (min-width : 768px) {
    .image-globe-show {
        position: relative;
        height: 600px;
        width: 768px !important;
    }
    .image-globe-show:before {
        content: '';
        position: absolute;
        width: 68%;
        height: 73%;
        border-radius: 50%;
        top: 15%;
        left: 16%;
        border: 4px dotted #bc1749;
    }
    .image-globe-show .image-center {
        position: absolute;
        width: 30%;
        left: 35%;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .image-globe-show .image {
        height: 30%;
        border: 1px dotted #bc1749;
        border-radius: 50%;
        padding: 1px;
    }
    .image-globe-show .image img {
        height: 100%;
    }
    .image-globe-show .image1 {
        position: absolute;
        left: 10%;
        top: 20%;
    }
    .image-globe-show .image2 {
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .image-globe-show .image3 {
        position: absolute;
        right: 10%;
        top: 20%;
    }
    .image-globe-show .image4 {
        bottom: 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .image-globe-show .image5 {
        position: absolute;
        left: 10%;
        top: 55%;
    }
    .image-globe-show .image6 {
        position: absolute;
        top: 55%;
        right: 10%;
    }
}
@media screen and (max-width : 767px) {
    .show-rond-image .image-center, .show-rond-image .image {
        display: inline-block;
        width: 33%;
    }
}
.show-rond-image {
    background: -o-linear-gradient(
60deg
, #eaa5d8 50%, #f0f0f0 50%);
    background: linear-gradient(
30deg
, #eaa5d8 50%, #f0f0f0 50%);
}
/*
* Footer
*
*/
.main-footer h3 {
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 27px;
    padding-bottom: 15px;
}
.main-footer li {
    list-style: none;
}
.main-footer li>a {
    color: #fff !important;
}
.main-footer ul {
    padding-left: 0 !important;
}
.copyright .inner-section {
    background: #000;
    color: #fff;
    padding: 15px;
}
.main-footer.section {
    background: #00177b;
    color: #fff;
}
/*
*
* Login page
*
*/
.login .form-container {
    max-width: 350px;
    margin: auto;
    background: rgb(0 23 123 / 80%);
    padding: 50px 30px;
    border: 1px solid #ccc;
    text-align: center;
}
.login .inner-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -o-linear-gradient( 
45deg
 , rgb(0 23 123 / 80%) 50%, transparent 50%);
    background: linear-gradient( 
45deg
 , rgb(0 23 123 / 80%) 50%, transparent 50%);
}
/*
*
* Edit profile
*/
.edit-profile input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
}
.edit-profile label {
    display: block;
}
.edit-profile .job-title input {
    font-weight: 700;
    color: #c70d97;
}
/***
**** Popup
***/
.popup {
    position: fixed;
    top: 0;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: 999;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 50px;
            box-shadow: 0px 0px 50px;
    width: 100%;
    left: 0;
    overflow-y: scroll;
}
.popup .popup-content {
    background: #fff;
    padding: 27px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}
.finishandsave {
    text-align: right;
}
.closex_btn {
    background: #e2e2e2;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px !important;
    height: 30px;
    width: 30px;
}
.closex {
    display: none !important;
}
.add-experience .plusexperience {
    width: 100%;
    color: #3b0ad2;
    background: #ffff;
    border: 1px solid;
    font-size: 36px;
}
.form_signup_full .right_col_main h3 {
    font-size: 15px;
    margin: 30px 0px;
    color: #ffffff;
    letter-spacing: 5px;
    padding: 10px;
    text-transform: uppercase;
    background: #00177b;
    text-align: center;
}
.skills-section .item_skill_list {
    border: 1px solid;
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.skills-section .listofskill {
    margin-bottom: 15px;
}
.add-experience .experience_tab, .add-education .education_tab {
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 2px dotted #7581b7;
}
.add-experience .experience_tab .company {
    text-transform: uppercase;
    color: #c70d97;
    font-size: 14px;
    text-decoration: underline;
}
.add-experience .experience_tab .date_experience {
    padding: 5px;
    color: #00177b;
    font-size: 13px;
}
.add-experience .experience_tab .description_experience, 
.add-education .education_tab .description {
    margin: 15px 0px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.left_main_col .inner-col {
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 30%);
            box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 30%);
    padding: 15px;
}
.left_main_col .profile_image .image-container {
    margin: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
.left_main_col .input-profile {
    display: none;
}
.left_main_col .profile_upload .btn {
    cursor: pointer;
    text-align: center;
    border: 1px solid #888;
    color: #888;
    border-radius: 50px;
    padding: 8px 20px;
}
.left_main_col .profile_upload .btn:hover {
    background: #c70d97;
    color: #fff;
    border-color: #fff;
}
.left_main_col .profile_image img {
    height: 100%;
    width: 100%;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    -o-object-fit: cover;
       object-fit: cover;
}
button.pluseducation {
    background: transparent;
    border: 1px solid #000;
    width: 100%;
    font-size: 35px;
}
.experience_tab h4.title, .education_tab h4.title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.add-education .education_tab .school {
    color: #c70d97;
}
.add-education .education_tab .date_educ {
    color: #00177b;
    padding: 2px;
    font-size: 13px;
}
.add-education .education_tab .degree_educ {
    display: inline-block;
    padding: 5px;
    color: #c70d97;
    text-transform: uppercase;
    font-size: 14px;
}
/*
* Backtotop btn
*
*/
.backtotop-btn .btn-backtotop {
    width: 40px;
    height: 40px;
    background: #000;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border-radius: 50px;
}
.pre-signup .inner-section {
    background: -o-repeating-linear-gradient(
60deg
, #e1e3eb, #f8f9fa 2px);
    background: repeating-linear-gradient(
30deg
, #e1e3eb, #f8f9fa 2px);
}
.pre-signup.freelancer .col-form-left {
    background: #fff;
    padding: 30px;
}
.pre-signup.freelancer .inner-right {
    height: 100%;
    background: rgb(0 23 123 / 75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
    color: #fff;
}
.pre-signup.freelancer .inner-right h2:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.pre-signup.freelancer .signup-inner {
    -webkit-box-shadow: 0px 0px 30px 0px #ccc;
            box-shadow: 0px 0px 30px 0px #ccc;
}
.pre-signup.freelancer .inner-right h2 {
    font-size: 25px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.pre-signup.freelancer .inner-right h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.pre-signup.freelancer .col-content-right {
    padding: 0;
    background-size: cover !important;
}
.edit-profile .btn-container.submit {
    text-align: right;
}
.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.loading-popup .loading-icon {
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    position: relative;
}
.loading-popup .loading-icon:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    border-radius: 50%;
    border-top: 2px solid #e91e63;
    border-bottom: 2px solid #fff;
    z-index: -2;
    -webkit-transform: rotate(
0deg
);
        -ms-transform: rotate(
0deg
);
            transform: rotate(
0deg
);
    -webkit-animation: 2s infinite linear loading;
            animation: 2s infinite linear loading;
}

.loading-popup .loading-icon:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    -webkit-animation: 2s infinite linear loading2;
            animation: 2s infinite linear loading2;
    left: calc(50% - 45px);
    -webkit-transform: rotate(
0deg
);
        -ms-transform: rotate(
0deg
);
            transform: rotate(
0deg
);
    top: calc(50% - 45px);
    border-radius: 50%;
    border-left: 2px solid #e91e63;
    border-right: 2px solid #fff;
    z-index: -2;
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes loading2 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
@keyframes loading2 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
.cta-btn {
    margin-bottom: 5px;
}
.email-verification .codedigitlink {
    max-width: 400px;
    margin: auto;
    text-align: center;
    background: rgb(0 23 123 / 80%);
    color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 18px 0px #b7b7b7;
            box-shadow: 0px 0px 18px 0px #b7b7b7;
}
.codedigitlink input.form-control {
    width: 135px;
    margin: auto;
    border: 2px solid #00177b;
    border-radius: 50px;
    background: #fffcfc;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.email-verification .codedigitlink .intro-verification {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid #8c0cb0;
}
.intro-verification span.email-user {
    color: #c70d97;
    display: block;
    margin-top: 8px;
    text-decoration: underline;
}
.pre-signup .form-group {
    margin-bottom: 0;
}
.client-content .pre-signup .form-group {
    margin-bottom: 20px;
}
.popup.error-validation-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: scroll;
}
.popup.error-validation-message .error-message {
    max-width: 500px;
    background: #fff;
    margin: auto;
    padding: 30px;
    text-align: center;
    min-width: 250px;
}
.btn-closex {
    background: #dedede;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    cursor: pointer;
}
.profile-header .avatar-top {
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.profile-header .avatar-top img {
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
}
.profile-header .col {
    padding: 0;
}
.profile-header .infos-user {
    text-align: center;
    float: right;
    height: 100%;
    padding: 5px !important;
}
.profile-header .infos-user p {
    margin-bottom: 0px;
}
.profile-header .btn.logout-btn, .profile-header .view-settings, .profile-header .view-profile {
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 0;
}
.profile-header .btn.view-profile {
    background: #00a047;
    color: #fff;
}
.profile-header .btn.view-settings {
    background: #004aef;
    color: #fff;
}
.profile-header .btn.logout-btn {
    background: #b01543;
    color: #fff;
}
/*
* Custom form default with FA
*
*/
.custom-form {
    margin-bottom: 15px;
}
.custom-form label {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.custom-form .form-input {
    border: 1px solid #ccc;
    padding: 5px 15px;
    height: 40px;
    width: 100%;
    -webkit-box-shadow: inset 8px 0px 5px -7px #ccc;
            box-shadow: inset 8px 0px 5px -7px #ccc;
}
.custom-form i {
    font-size: 20px;
    height: 40px;
    background: #6f6f6f;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
}
.custom-form .form-textarea {
    width: 100%;
    padding: 15px;
}
/*
* Custom custom form
*
*/
.freelancer .custom-form i {
    background: #00ade0;
}
.signup-container .custom-form {
    margin-bottom: 35px;
}
.info-privacy {
    font-size: 14px;
}
/*
* Responsive popup
*
*/
@media screen and (max-width : 480px) {
    .popup .popup-content {
        width: auto !important;
    }
}
@media screen and (max-width : 767px) {
    .custom-form .form-input {
        width: calc(100% - 40px) !important;
    }
}
.form_signup_full .custom-form i.fas {
    background: #8ad9f1;
}
.form_signup_full .custom-form .form-input {
    border-color: transparent !important;
    border-bottom-color: #8ad9f1 !important;
}
.edit-profile {
    background: #e6e6e6;
}
.form_signup_full .personnal-infos, .form_signup_full .skills-section, .form_signup_full .add-experience, .form_signup_full .add-education {
    background: #fff;
    padding: 27px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 6px 0px #ccc;
            box-shadow: 5px 5px 6px 0px #ccc;
    margin-bottom: 40PX;
}
.form_signup_full .addhere .add-span {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
/*
* font awaisome Brands
*
*/
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}
.popup-form-photo .btn-container-save {
    text-align: center;
}
.popup-form-photo .save-photo {
    text-align: right;
    background: #00ade0;
    color: #fff;
    padding: 5px 30px;
    border-radius: 40px;
    border: none;
    -webkit-box-shadow: 3px 3px 5px 0 #024b61;
            box-shadow: 3px 3px 5px 0 #024b61;
}
.popup-form-photo .popup-content {
    max-width: 400px;
    margin: auto;
    -webkit-box-shadow: 0 0 18px 0 #000;
            box-shadow: 0 0 18px 0 #000;
    border: 2px solid #00ade0;
}
.popup-form-photo input {
    display: none;
}
.popup-form-photo label {
    background: #00177b;
    color: #fff;
    text-align: center;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.left_main_col .profile_upload {
    text-align: center;
}
.email-infos-hidden p {
    padding: 10px;
    background: #00177b;
    color: #fff;
    margin: 20px 0;
    font-size: 15px;
}
/*
*
*  Popup message
*/
.message-popup.message-success {
    background: #03a55a;
}
.message-popup {
    position: fixed;
    top: 50%;
    color: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: 0 0 20px 0 #c1c1c1;
            box-shadow: 0 0 20px 0 #c1c1c1;
    outline: 1px solid #fff;
    outline-offset: -5px;
    -webkit-animation: popupmessage 15s;
            animation: popupmessage 15s;
    opacity : 1;
}
@-webkit-keyframes popupmessage {
    0% {
        top : 50%;
        opacity : 1;
    }
    100% {
        top : 0;
        opacity : 0;
    }
}
@keyframes popupmessage {
    0% {
        top : 50%;
        opacity : 1;
    }
    100% {
        top : 0;
        opacity : 0;
    }
}
.experience_tab .edit-icon, .add-education .edit-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
    top: -10px;
    width: 37px;
    border-radius: 20px;
    border: 1px solid #00177b;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #00177b;
    cursor: pointer;
}
.experience_tab,
.add-education .education_tab {
    position: relative;
}
.image-welcomen .image-container, .image-welcomen .image-container img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.image-welcomen {
    padding: 0;
}
.welcome-new-user {
    background: #00ade0;
    color: #fff;
    padding: 30px;
}
.welcome-new-user h4 {
    font-size: 20px;
    color: #00177b;
    border-bottom: 1px solid #00177b;
    padding-bottom: 10px;
}
.welcome-new-user .tosetting {
    background: #fff;
    display: inline-block;
    text-align: center;
    color: #00177b !important;
    padding: 5px 15px;
    margin: auto;
}
.welcome-new-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 35px !important;
}
.image-welcomen {
    padding: 0 !important;
}
.form_signup_full .tab-icon {
    color: #7783b8;
    margin-right: 10px;
    font-size: 20px;
    width: 30px;
}
.profile-tab-dashbord .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
}
.profile-tab-dashbord .social .link-social {
    font-size: 20px;
    height: 40px;
    background: #004aef;
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff !important;
    margin-right: 5px;
}
.profile-tab-dashbord .perso-infos {
    text-align: center;
}
.profile-tab-dashbord {
    background: #00ade0;
    padding: 15px;
    -webkit-box-shadow: 2px 2px 5px 0px #adb5bd;
            box-shadow: 2px 2px 5px 0px #adb5bd;
}
.profile-tab-dashbord .image-container {
    text-align: center;
}
.profile-tab-dashbord .skills .item {
    display: block;
}
.profile-tab-dashbord h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.profile-tab-dashbord .title {
    font-size: 18px;
    margin: 15px 0;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    padding: 5px 0;
    color: #f3f3f3;
}
.user-dashbord.type-freelancer {
    background: #f9f9f9;
}
.col-rigth-infos .gird-infos-item {
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 #ccc;
            box-shadow: 0 0 15px 0 #ccc;
    padding: 25px;
    margin-bottom: 40px;
}
.col-rigth-infos h3 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 2px dotted #a8afd2;
    color: #00177b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.col-rigth-infos h1.fullname {
    font-size: 30px;
}
.col-rigth-infos h2.personnal-title {
    font-size: 20px;
    margin-bottom: 30px;
}
.col-rigth-infos .hourly-rate span {
    display: inline-block;
}

.col-rigth-infos .hourly-rate {
    text-align: left;
}
.col-rigth-infos .hourly-rate .rate {
    font-size: 20px;
    background: #00177b;
    padding: 8px 15px;
    color: #fff;
    border-radius: 50px;
}
.col-rigth-infos .full-skills .item-skill {
    margin-right: 15px;
    color: #004aef;
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 15px;
}
.col-rigth-infos .experince-items .item,
.col-rigth-infos .education-items .item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.col-rigth-infos .experince-items h4, .col-rigth-infos .education-items h4 {
    font-size: 18px;
}
.col-rigth-infos .experince-items .date, .col-rigth-infos .education-items .date {
    display: block;
    font-size: 14px;
    font-style: italic;
}
.login .form-container .custom-form i {
    background: #00ade0;
}
.login .form-container .btn:hover {
    background: #00177b;
    color: #ffffff !important;
}

.login .form-container .btn {
    background: #00ade0;
    border-color: #00ade0;
    padding: 10px 30px;
    -webkit-box-shadow: 0px 0 20px 0 #000;
            box-shadow: 0px 0 20px 0 #000;
}
.profile-infos img {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 150px;
    height: 150px;
}
.user-dashbord.type-client {
    background: #fbf1f4;
}
.type-client .profile-tab-dashbord {
    background: #dc86a0;
    text-align: center;
}
.type-client .profile-tab-dashbord .social .link-social {
    background: #696969;
}
.client-settings .form_signup_full h3 {
    background: #bc1749;
}
.client-settings .form_signup_full i.fas {
    background: #d98fa5;
}
.client-settings .form_signup_full .email-infos-hidden p {
    background: #cd5176;
}
.call-to-action-top .cta-btn .btn:hover {
    background: #00177b;
    color: #fff;
}

.call-to-action-top .cta-btn .btn {
    background: transparent;
    margin-right: 3px;
    color: #00177b;
    border: 1px solid #00177b;
}