img {
    max-width: 100%;
    height: auto;
}
* {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
.white {
    color: #fcfcfc;
}
.white-b {
    background-color: #fcfcfc;
}
.mc-1 {
    color: #f71e27;
}
.mc-2 {
    color: #ad112d;
}
.mc-3 {
    color: #bc1749;
}
.mcm {
    color: #1f0308;
}
.mbgm {
    background-color: #1f0308;
}
a {
    color: #bc1749 !important;
}
a:hover {
    color: #bc1749 !important;
}
.mbgc-1 {
    background-color: #f71e27;
}
.mbgc-2 {
    background-color: #ad112d;
}
.mbgc-3 {
    background-color: #bc1749;
}
.mbrc-1 {
    background-color: #f71e27;
}
.mbrgc-2 {
    background-color: #ad112d;
}
.mbrc-3 {
    background-color: #bc1749;
}
*:hover {
    transition: .5s;
}
input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn.enable {
    background: #c70d97;
    color: #fff !important;
    border-color: #c70d97;
}
.image-container {
    margin-bottom: 30px;
}
.section .inner-section {
    height: 100%;
    width: 100%;
    padding: 37px 0px;
}
@media screen and (max-width: 767px) {
    ul {
        padding-left: 0 !important;
    }
}
.btn.default-1:hover {
    border-color: #350207;
}
.btn.default-2:hover {
    border-color: #bc1749;
}
.btn.default-2 {
    border: 1px solid #350207;
    color: #350207;
    letter-spacing: 5px;
}
.btn.default-1 {
    border: 1px solid #bc1749;
    color: #bc1749;
    letter-spacing: 5px;
}
.divider {
    margin: 27px auto;
    height: 2px;
}

.dotted-sm {
    border-bottom: 2px dotted;
    width: 100px;
}
/*
*
*  Headers
*
*/
.main-header .nav-item a:hover {
    color: #fff !important;
}
.top-header {
    padding: 0px;
}
.cta-btn .join_as_freelancer {
    background: #3b0ad2;
}
.cta-btn .btn.hire_a_freelancer {
    background: #c70d97;
}
.cta-btn .btn.login {
    background: #099c1b;
}
.top-header .cta-btn .btn {
    color: #fff;
    transition: .5s;
    margin-left: 0.5em;
    box-shadow: 2px 2px 3px 0px rgb(119 119 119);
}
.top-header .cta-btn .btn:hover {
    background: #bc1749;
    transform: scale(1.05);
}
.call-to-action-top .join_us:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #bc1749;
    bottom: -17px;
    border: 4px double #fff;
    left: 50%;
    transform: translateX(-50%) rotate(
45deg
);
}

.call-to-action-top .join_us:before {
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    background: #bc1749;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
}
.call-to-action-top .join_us {
    font-size: 18px;
    margin-bottom: 27px;
    color: #bc1749;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
}
.homepage .top-section .inner-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width : 768px) {
    .homepage .top-section h1 {
        font-size: 65px;
    }
}
.grid-home-1 .item .inner-col {
    padding: 15px;
    text-align: center;
    box-shadow: 4px 4px 18px -5px #a9a9a9;
    height: 100%;
}
/*
*
*  Rond image
*
*/
@media screen and (min-width : 768px) {
    .image-globe-show {
        position: relative;
        height: 600px;
        width: 768px !important;
    }
    .image-globe-show:before {
        content: '';
        position: absolute;
        width: 68%;
        height: 73%;
        border-radius: 50%;
        top: 15%;
        left: 16%;
        border: 4px dotted #bc1749;
    }
    .image-globe-show .image-center {
        position: absolute;
        width: 30%;
        left: 35%;
        top: 50%;
        transform: translateY(-50%);
    }
    .image-globe-show .image {
        height: 30%;
        border: 1px dotted #bc1749;
        border-radius: 50%;
        padding: 1px;
    }
    .image-globe-show .image img {
        height: 100%;
    }
    .image-globe-show .image1 {
        position: absolute;
        left: 10%;
        top: 20%;
    }
    .image-globe-show .image2 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .image-globe-show .image3 {
        position: absolute;
        right: 10%;
        top: 20%;
    }
    .image-globe-show .image4 {
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .image-globe-show .image5 {
        position: absolute;
        left: 10%;
        top: 55%;
    }
    .image-globe-show .image6 {
        position: absolute;
        top: 55%;
        right: 10%;
    }
}
@media screen and (max-width : 767px) {
    .show-rond-image .image-center, .show-rond-image .image {
        display: inline-block;
        width: 33%;
    }
}
.show-rond-image {
    background: linear-gradient(
30deg
, #eaa5d8 50%, #f0f0f0 50%);
}
/*
* Footer
*
*/
.main-footer h3 {
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 27px;
    padding-bottom: 15px;
}
.main-footer li {
    list-style: none;
    line-height: 2.5em;
}
.main-footer ul {
    padding-left: 0 !important;
}
.copyright .inner-section {
    background: #000;
    color: #fff;
    padding: 15px;
}
.main-footer.section {
    background: #000000;
    color: #fff;
}
/*
*
* Login page
*
*/
.login .form-container {
    max-width: 350px;
    margin: auto;
    background: #f1f1f1;
    padding: 27px;
    border: 1px solid #ccc;
}
.login .inner-section {
    display: flex;
    align-items: center;
    background: linear-gradient(
45deg
, rgb(66 4 14 / 80%) 50%, transparent 50%);
}
.main-footer .col-sm-3 {
    border-right: 1px solid #9c9c9c;
}
/*
*
* Edit profile
*/
.edit-profile input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
}
.edit-profile label {
    display: block;
}
.edit-profile .job-title input {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    color: #c70d97;
}
/***
**** Popup
***/
.popup {
    position: fixed;
    top: 0;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: 999;
    padding: 40px;
    box-shadow: 0px 0px 50px;
    width: 100%;
    left: 0;
    overflow-y: scroll;
}
.popup .popup-content {
    background: #fff;
    padding: 27px;
    width: fit-content;
    margin: auto;
}
.finishandsave {
    text-align: right;
}
.closex_btn {
    background: #e2e2e2;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 0px !important;
    height: 30px;
    width: 30px;
}
.closex {
    display: none !important;
}
.add-experience .plusexperience {
    width: 100%;
    height: 70px;
    color: #3b0ad2;
    background: #ffff;
    border: 1px solid;
    font-size: 36px;
}
.form_signup_full .right_col_main {
    box-shadow: 0px 0px 20px -5px rgb(0 0 0 / 30%);
    padding: 27px;
    background: #fff;
}
.form_signup_full .right_col_main h3 {
    font-size: 15px;
    margin: 30px 0px;
    color: #ffffff;
    letter-spacing: 5px;
    padding: 10px;
    text-transform: uppercase;
    background: #c70d97;
    text-align: center;
}
.skills-section .item_skill_list {
    border: 1px solid;
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.skills-section .listofskill {
    margin-bottom: 15px;
}
.edit-profile {
    background: linear-gradient(
45deg
, #3b0ad2, #c70d97);
}
.right_col_main .experience_posted .experience_tab {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
}
.experience_posted .experience_tab h4.title {
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
}
.experience_posted .experience_tab .company {
    text-transform: uppercase;
    color: #c70d97;
    font-size: 14px;
    text-decoration: underline;
}
.experience_posted .experience_tab .date_experience {
    background: #b3b3b3;
    padding: 5px;
    color: #fff;
    font-size: 13px;
}
.experience_posted .experience_tab .description_experience {
    box-shadow: inset 0px 0px 5px 0px #ccc;
    padding: 27px 15px;
    background: #fdfdfd;
    border-radius: 5px;
}
.left_main_col .inner-col {
    background: #fff;
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 30%);
    padding: 15px;
}
.left_main_col .profile_image .image-container {
    margin: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
.left_main_col .input-profile {
    display: none;
}
.left_main_col .profile_upload label {
    cursor: pointer;
    text-align: center;
    border: 1px solid #888;
    color: #888;
    border-radius: 50px;
    padding: 10px 5px;
}
.left_main_col .profile_upload label:hover {
    background: #c70d97;
    color: #fff;
    border-color: #fff;
}
.left_main_col .profile_image img {
    height: 100%;
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}
button.pluseducation {
    background: transparent;
    border: 1px solid #000;
    width: 100%;
    height: 70px;
    font-size: 35px;
}
.add-education .education_tab h4.title {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.add-education .education_tab .school {
    color: #c70d97;
}
.add-education .education_tab .date_educ {
    background: #ccc;
    color: #fff;
    padding: 2px;
    font-size: 13px;
}
.add-education .education_tab .degree_educ {
    background: #ccc;
    display: inline-block;
    padding: 5px;
    color: #c70d97;
    text-transform: uppercase;
    font-size: 14px;
}
.add-education .education_tab .description {
    background: #f5f5f5;
    padding: 20px;
    margin: 15px 0px;
    border: 1px solid #ccc;
}
/*
* Backtotop btn
*
*/
.backtotop-btn .btn-backtotop {
    width: 40px;
    height: 40px;
    background: #000;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border-radius: 50px;
}
.pre-signup .form-container {
    background: #ffffff;
    padding: 27px;
    max-width: 360px;
    margin: auto;
    border: 1px solid #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
}
.pre-signup .inner-section {
    background: linear-gradient(
45deg
, #c70d97, #3b0ad2);
}
.pre-signup h3 {
    text-align: center;
    margin-bottom: 27px;
    color: #fff;
}
.edit-profile .btn-container.submit {
    text-align: right;
    margin: 35px 0;
    padding-top: 30px;
    border-top: 1px solid #560bc7;
}
.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-popup .loading-icon {
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    position: relative;
}
.loading-popup .loading-icon:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    border-radius: 50%;
    border-top: 2px solid #e91e63;
    border-bottom: 2px solid #fff;
    z-index: -2;
    transform: rotate(
0deg
);
    animation: 2s infinite linear loading;
}

.loading-popup .loading-icon:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    animation: 2s infinite linear loading2;
    left: calc(50% - 45px);
    transform: rotate(
0deg
);
    top: calc(50% - 45px);
    border-radius: 50%;
    border-left: 2px solid #e91e63;
    border-right: 2px solid #fff;
    z-index: -2;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.cta-btn {
    margin-bottom: 5px;
}
.email-verification .inner-section {
    background: linear-gradient(
45deg
, #3b0ad2, #c70d97);
}
.email-verification .codedigitlink {
    max-width: 400px;
    margin: auto;
    text-align: center;
    background: #fdfdfd;
    padding: 20px;
    box-shadow: 0px 0px 18px 0px #000;
}
.codedigitlink input.form-control {
    width: 135px;
    margin: auto;
    border: 2px solid #3b0ad2;
    border-radius: 50px;
    background: #dbc8f1;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.email-verification .codedigitlink .intro-verification {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid #8c0cb0;
}
.intro-verification span.email-user {
    color: #c70d97;
    display: block;
    margin-top: 8px;
    text-decoration: underline;
}
.pre-signup .form-group {
    margin-bottom: 0;
}
.client-content .pre-signup .form-group {
    margin-bottom: 20px;
}
.popup.error-validation-message {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.popup.error-validation-message .error-message {
    max-width: 500px;
    background: #fff;
    margin: auto;
    padding: 30px;
    text-align: center;
    min-width: 250px;
}
span.btn-closex {
    background: #dedede;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}
.profile-header .avatar-top {
    width: 70px;
    height: 100%;
    background: #ccc;
}
.profile-header, .profile-header *:not(.infos-user, .infos-user *) {
    height: 100%;
}
.profile-header .col {
    padding: 0;
}
.profile-header .infos-user {
    text-align: center;
    float: right;
    height: 100%;
    padding: 5px !important;
}
.profile-header .infos-user p {
    margin-bottom: 0px;
}
.profile-header .btn.logout-btn, .profile-header .view-settings, .profile-header .view-profile {
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 0;
}
.profile-header .btn.view-profile {
    background: #00a047;
    color: #fff;
}
.profile-header .btn.view-settings {
    background: #004aef;
    color: #fff;
}
.profile-header .btn.logout-btn {
    background: #b01543;
    color: #fff;
}